<?php

$framework = tangible();
$loop = tangible_loop();
$html = tangible_template();

$config = $loop->get_type_config('gravity_form_entry', false /* Prevent default to post loop */);

 //tgbl()->see($loop);

$html->set_map('query_args', isset($config['query_args']) ? $config['query_args'] : []);
$html->set_map('fields', isset($config['fields']) ? $config['fields'] : []);

?>
<Markdown>

  # GF Entries loop

  For loop type `gravity_form_entry`, here are the available query arguments and fields.

</Markdown>

<Load file="/common/query-args.html" />
<Load file="/common/fields.html" />