
<div class="examples-container">
  <h2>Survey  Entries Table View</h2>
  <Table per_page=3 sort=title sort_order=desc>
    <Filter>
      <div>
        <input type="text"  action="search"  columns="entry_id,user,entry_date,survey_total_score"   placeholder="Search"  >
      </div>
    </Filter>

    <Head>
      <Col name=entry_id sort_type=string>Entry ID</Col>
      <Col name=user sort_type=string>User</Col>
      <Col name=entry_date sort_type=string>Entry Date</Col>
      <Col name=survey_total_score sort_type=string>Survey Total Score</Col>
    </Head>

    <!--Loop type=gravity_form_entry form_id = "[12,48]" -->
    <!--RowLoop  type=gravity_form_entry_fields field_id = "[1,9]" entry_id="{Field id}"-->
    <RowLoop  type=gravity_form_entry form_id = "[12,48]">
      <Col>
        <Field id />
      </Col>

      <Col>
      <Loop type="user" id="{Field created_by}">
        <Field full_name /><br/>
      </Loop>
      </Col>

      <Col>
        <Field date_created />
      </Col>

      <Col>
      <Field survey_score />
      </Col>

    </RowLoop>
    <!--/Loop-->

    <Paginate>
      Page <Field current /> of <Field total />
    </Paginate>

    <Empty>
      <p>Empty</p>
    </Empty>

  </Table>

  <br /><br />
</div>


<Markdown>
  **Markup**: survey table:
  ```html
  <Table per_page=3 sort=title sort_order=desc>

    <Filter>
      <div>
        <input type="text"  action="search"  columns="entry_id,user,entry_date,survey_total_score"   placeholder="Search"  >
      </div>
    </Filter>

    <Head>
      <Col name=entry_id sort_type=string>Entry ID</Col>
      <Col name=user sort_type=string>User</Col>
      <Col name=entry_date sort_type=string>Entry Date</Col>
      <Col name=survey_total_score sort_type=string>Survey Total Score</Col>
    </Head>

    <RowLoop  type=gravity_form_entry form_id = "[12,48]">
      <Col>
      <Field id />
      </Col>
      <Col>
      <Loop type="user" id="{Field created_by}">
        <Field full_name /><br/>
      </Loop>
      </Col>
      <Col>
      <Field date_created />
      </Col>
      <Col>
      <Field survey_score />
      </Col>
    </RowLoop>

    <Paginate>
      Page <Field current /> of <Field total />
    </Paginate>

    <Empty>
      <p>Empty</p>
    </Empty>

  </Table>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>


<div class="examples-container">
  <h2>Quiz Entries Table View</h2>
  <Table per_page=2 sort=title sort_order=desc>
    <Filter>
      <div>
        <input type="text"  action="search"  columns="entry_id,user,entry_date,entry_quiz_score,entry_quiz_percent,entry_quiz_grade,entry_quiz_is_pass"   placeholder="Search"  >
      </div>
    </Filter>

    <Head>
      <Col name=entry_id sort_type=string>Entry ID</Col>
      <Col name=user sort_type=string>User</Col>
      <Col name=entry_date sort_type=string>Entry Date</Col>

      <Col name=entry_quiz_score sort_type=string>Quiz Score Total</Col>
      <Col name=entry_quiz_percent sort_type=string>Quiz Percentage</Col>
      <Col name=entry_quiz_grade sort_type=string>Quiz Grade</Col>
      <Col name=entry_quiz_is_pass sort_type=string>Quiz Pass/Fail</Col>
    </Head>


    <!--Loop type=gravity_form_entry form_id = "[12,48]" -->
    <!--RowLoop  type=gravity_form_entry_fields field_id = "[1,9]" entry_id="{Field id}"-->
    <RowLoop  type=gravity_form_entry form_id = "[15,50]">
      <Col>
        <Field id />
      </Col>

      <Col>
      <Loop type="user" id="{Field created_by }">
        <Field full_name /><br/>
      </Loop>
      </Col>

      <Col>
        <Field date_created />
      </Col>

      <Col>
      <If field="quiz_score"><Field quiz_score /> <Else/>0</If>
      </Col>

      <Col>
      <Field quiz_percent />%
      </Col>

      <Col>
      <Field quiz_grade />
      </Col>

      <Col>
      <If field="quiz_is_pass">Pass <Else/> Fail</If>
      </Col>

    </RowLoop>
    <!--/Loop-->

    <Paginate>
      Page <Field current /> of <Field total />
    </Paginate>

    <Empty>
      <p>Empty</p>
    </Empty>

  </Table>

  <br /><br />
</div>


<Markdown>
  **Markup**: quiz table:
  ```html
  <Table per_page=2 sort=title sort_order=desc>
    <Filter>
      <div>
        <input type="text"  action="search"  columns="entry_id,user,entry_date,entry_quiz_score,entry_quiz_percent,entry_quiz_grade,entry_quiz_is_pass"   placeholder="Search"  >
      </div>
    </Filter>

    <Head>
      <Col name=entry_id sort_type=string>Entry ID</Col>
      <Col name=user sort_type=string>User</Col>
      <Col name=entry_date sort_type=string>Entry Date</Col>

      <Col name=entry_quiz_score sort_type=string>Quiz Score Total</Col>
      <Col name=entry_quiz_percent sort_type=string>Quiz Percentage</Col>
      <Col name=entry_quiz_grade sort_type=string>Quiz Grade</Col>
      <Col name=entry_quiz_is_pass sort_type=string>Quiz Pass/Fail</Col>
    </Head>

    <RowLoop  type=gravity_form_entry form_id = "[15,50]">
      <Col>
      <Field id />
      </Col>

      <Col>
      <Loop type="user" id="{Field created_by }">
        <Field full_name /><br/>
      </Loop>
      </Col>

      <Col>
      <Field date_created />
      </Col>

      <Col>
      <If field="quiz_score"><Field quiz_score /> <Else/>0</If>
      </Col>

      <Col>
      <Field quiz_percent />%
      </Col>

      <Col>
      <Field quiz_grade />
      </Col>

      <Col>
      <If field="quiz_is_pass">Pass <Else/> Fail</If>
      </Col>

    </RowLoop>

    <Paginate>
      Page <Field current /> of <Field total />
    </Paginate>

    <Empty>
      <p>Empty</p>
    </Empty>

  </Table>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>



<div class="examples-container">
  <h2>Poll Entries Table View</h2>
  <Table per_page=3 sort=title sort_order=desc>

    <Filter>
      <div>
        <input type="text"  action="search" columns="entry_id,user,entry_date, entry_q1, entry_q2, entry_q3 "   placeholder="Search"  >
      </div>
    </Filter>

    <Head>
      <Col name=entry_id sort_type=string>Entry ID</Col>
      <Col name=user sort_type=string>User</Col>
      <Col name=entry_date sort_type=string>Entry Date</Col>
      <Col name=entry_q1 sort_type=string>Do you like hard rock?</Col>
      <Col name=entry_q2 sort_type=string>Will Bitcoin reach $1,000,000 value?</Col>
      <Col name=entry_q3 sort_type=string>Your favorite pets</Col>
    </Head>

    <RowLoop type=gravity_form_entry form_id = "[16,51]">
      <Col>
        <Field id />
      </Col>

      <Col>
      <Loop type="user" id="{Field created_by>}">
        <Field full_name /><br/>
      </Loop>
      </Col>

      <Col>
        <Field date_created />
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="4" >
        <Loop field=value >
        <Field text />
        </Loop>
      </Loop>
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="5" >
        <Loop field=value >
        <Field text />
        </Loop>
      </Loop>
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="6" >
        <Loop field=value >
        <Field text />
        </Loop>
      </Loop>
      </Col>

    </RowLoop>

    <Paginate>
      Page <Field current /> of <Field total />
    </Paginate>

    <Empty>
      <p>Empty</p>
    </Empty>

  </Table>

  <br /><br />
</div>


<Markdown>
  **Markup**: poll table:
  ```html
  <Table per_page=3 sort=title sort_order=desc>

    <Filter>
      <div>
        <input type="text"  action="search" columns="entry_id,user,entry_date, entry_q1, entry_q2, entry_q3 "   placeholder="Search"  >
      </div>
    </Filter>

    <Head>
      <Col name=entry_id sort_type=string>Entry ID</Col>
      <Col name=user sort_type=string>User</Col>
      <Col name=entry_date sort_type=string>Entry Date</Col>
      <Col name=entry_q1 sort_type=string>Do you like hard rock?</Col>
      <Col name=entry_q2 sort_type=string>Will Bitcoin reach $1,000,000 value?</Col>
      <Col name=entry_q3 sort_type=string>Your favorite pets</Col>
    </Head>

    <RowLoop type=gravity_form_entry form_id = "[16,51]">
      <Col>
      <Field id />
      </Col>

      <Col>
      <Loop type="user" id="{Field created_by>}">
        <Field full_name /><br/>
      </Loop>
      </Col>

      <Col>
      <Field date_created />
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="4" >
        <Loop field=value >
          <Field text />
        </Loop>
      </Loop>
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="5" >
        <Loop field=value >
          <Field text />
        </Loop>
      </Loop>
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="6" >
        <Loop field=value >
          <Field text />
        </Loop>
      </Loop>
      </Col>

    </RowLoop>

    <Paginate>
      Page <Field current /> of <Field total />
    </Paginate>

    <Empty>
      <p>Empty</p>
    </Empty>

  </Table>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>



<div class="examples-container">
  <h2>eCommerce Entries Table View</h2>
  <Table per_page=3 sort=title sort_order=desc>

    <Filter>
      <div>
        <input type="text"  action="search" columns="entry_id,name,entry_date, payment_method, payment_status, payment_amount, payment_date, subtotal, total  "   placeholder="Search"  >
      </div>
    </Filter>

    <Head>
      <Col name=entry_id sort_type=string>Entry ID</Col>
      <Col name=name sort_type=string>Name</Col>
      <Col name=entry_date sort_type=string>Entry Date</Col>
      <Col name=payment_method sort_type=string>Payment Method</Col>
      <Col name=payment_status sort_type=string>Payment Status</Col>
      <Col name=payment_amount sort_type=string>Payment Amount</Col>
      <Col name=payment_date sort_type=string>Payment Date</Col>
      <Col name=subtotal sort_type=string>Subtotal</Col>
      <Col name=total sort_type=string>Total</Col>
    </Head>

    <RowLoop type=gravity_form_entry form_id = "[6,42]">
      <Col>
        <Field id />
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="7" >
        <Loop field=value >
          <Field first />
        </Loop>
      </Loop>
      </Col>

      <Col>
        <Field date_created />
      </Col>

      <Col>
        <Field payment_method />
      </Col>

      <Col>
        <Field payment_status />
      </Col>

      <Col>
        <Field payment_amount />
      </Col>

      <Col>
        <Field payment_date />
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="13" >
        <Field value />
      </Loop>
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="3" >
        <Field value />
      </Loop>
      </Col>

    </RowLoop>

    <Paginate>
      Page <Field current /> of <Field total />
    </Paginate>

    <Empty>
      <p>Empty</p>
    </Empty>

  </Table>

  <br /><br />
</div>


<Markdown>
  **Markup**: ecommerce form entries table:
  ```html
  <Table per_page=3 sort=title sort_order=desc>

    <Filter>
      <div>
        <input type="text"  action="search" columns="entry_id,name,entry_date, payment_method, payment_status, payment_amount, payment_date, subtotal, total  "   placeholder="Search"  >
      </div>
    </Filter>

    <Head>
      <Col name=entry_id sort_type=string>Entry ID</Col>
      <Col name=name sort_type=string>Name</Col>
      <Col name=entry_date sort_type=string>Entry Date</Col>
      <Col name=payment_method sort_type=string>Payment Method</Col>
      <Col name=payment_status sort_type=string>Payment Status</Col>
      <Col name=payment_amount sort_type=string>Payment Amount</Col>
      <Col name=payment_date sort_type=string>Payment Date</Col>
      <Col name=subtotal sort_type=string>Subtotal</Col>
      <Col name=total sort_type=string>Total</Col>
    </Head>

    <RowLoop type=gravity_form_entry form_id = "[6,42]">
      <Col>
      <Field id />
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="7" >
        <Loop field=value >
          <Field first />
        </Loop>
      </Loop>
      </Col>

      <Col>
      <Field date_created />
      </Col>

      <Col>
      <Field payment_method />
      </Col>

      <Col>
      <Field payment_status />
      </Col>

      <Col>
      <Field payment_amount />
      </Col>

      <Col>
      <Field payment_date />
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="13" >
        <Field value />
      </Loop>
      </Col>

      <Col>
      <Loop type=gravity_form_entry_fields entry_id="{Field id}" field_id="3" >
        <Field value />
      </Loop>
      </Col>

    </RowLoop>

    <Paginate>
      Page <Field current /> of <Field total />
    </Paginate>

    <Empty>
      <p>Empty</p>
    </Empty>

  </Table>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>


