<h1>Entry Results - Quiz all field types </h1>

<!-- local 22; live 57 -->
<Set name=form_id>
  57
</Set>

<Markdown>
  **Markup**: Quiz Score Frequencies Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="line" fill="false" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="57" field_id="[1,2,3]" source="quiz" score_frequencies="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>
<div class="alert alert-info">
  - For the Quiz <strong>Score Frequencies</strong> Chart  'GFChartData' tag uses <code>score_frequencies="true"</code> argument.
</div>
<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="bar" fill="false" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 22; live 57 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="quiz" score_frequencies="true"/>
  </Chart>

</p>

<Markdown>
  **Markup**: Quiz Grade Frequencies Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="line" fill="false" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="57" field_id="[1,2,3]" source="quiz" grade_frequencies="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>
<div class="alert alert-info">
  - For the Quiz <strong>Grade Frequencies</strong> Chart 'GFChartData' tag uses <code>grade_frequencies="true"</code> argument.
</div>
<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="bar" fill="false" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 22; live 57 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="quiz" grade_frequencies="true"/>
  </Chart>

</p>

<Markdown>
  **Markup**: Line Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="line" fill="false" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="57" field_id="[1,2,3]" source="quiz" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="line" fill="false" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 22; live 57 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="quiz" multi_labels="true"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Bar Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="bar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="57" field_id="[1,2,3]" source="quiz" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="bar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 22; live 57 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="quiz" multi_labels="true"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Radar Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="radar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="57" field_id="[1,2,3]" source="quiz" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="radar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 22; live 57 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="quiz" multi_labels="true"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Doughnut Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="doughnut" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="57" field_id="[2]" source="quiz" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="doughnut" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 22; live 57 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[2]" source="quiz" multi_labels="true"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Pie Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="pie" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="57" field_id="[1]" source="quiz" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="pie" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 22; live 57 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1]" source="quiz" multi_labels="true"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Polar Area Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="polarArea" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="57" field_id="[2]" source="quiz" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="polarArea" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 22; live 57 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[2]" source="quiz" multi_labels="true"/>
  </Chart>

</p>







