
<Note> Site wrapper - Closed in footer.html </Note>

<div id="wrapper" class="d-flex">

<Note> Sidebar menu </Note>

<List name="sections" load="menu.json" />

<Note>
  Loops & Logic documentation site URL - Used in menu, and page /overview
</Note>
<Set loops_and_logic_url>https://loop.tangible.one</Set>

<header id="sidebar-wrapper" class="d-flex flex-column">

  <nav class="sidebar-heading navbar navbar-dark">
    <a class="navbar-brand" href="{Url site}">
      <div class="d-inline-block" style="margin-right:-2px">
        <img src="/assets/loops-and-logic-logo.png"
          alt="Logo" width="26"
          style=""
        >
      </div>
      <Get site=title />
    </a>
    <button id="menu-toggle" class="navbar-toggler d-md-none" type="button" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="list-group list-group-flush flex-grow-1">

    <Note> Generate menu </Note>

    <Loop list=sections>
      <div class="list-group-item list-group-item-action p-0">
        <div class="sidebar-subheading list-group-item border-0">
          <Field title />
        </div>
        <Loop field=pages>
          <If not check="{Field title}">
            <hr>
          <Else />
            <If check="/{Get route}" value="{Field route}">
              <Set item_class>active</Set>
            <Else />
              <Set item_class></Set>
            </If>

            <a class="list-group-item list-group-item-action border-0 {Get item_class}"
              href="{Field route}"
            >
              <Field title />
            </a>
          </If>
        </Loop>
      </div>
    </Loop>

    <div class="sidebar-subheading list-group-item border-0">
      Site
    </div>
    <If user exists>
      <If user_role includes value="administrator">
        <a class="list-group-item list-group-item-action" href="{Url admin}">Admin</a>
      </If>
      <a class="list-group-item list-group-item-action" href="{Url logout}">Logout</a>
    <Else />

      <Set login_url><Url login redirect="{Url admin}"></Set>

      <a class="list-group-item list-group-item-action" href="{Get login_url}">Login</a>
    </If>
    <a class="list-group-item list-group-item-action" href="{Get loops_and_logic_url}">Back to Loops & Logic</a>
  </div>
  <script>
    jQuery(function($) {
      var $wrapper = $('#wrapper')
      var $sidebarWrapper = $('#sidebar-wrapper')
      var $sidebarToggle = $sidebarWrapper.find('#menu-toggle')
       $sidebarToggle.click(function(e) {
        e.preventDefault();
        $wrapper.toggleClass('toggled');
      })
    })
  </script>

</header>

<main id="page-content-wrapper"  class="{Url query=view-type} flex-shrink-0" role="main">
  <div class="container">
