<?php

// if (!empty($html->get_route())) {
//   include __DIR__ . '/not-found.html';
//   return;
// }

?>
<If check="{Route}">
  <Load file="not-found.html" />
<Else />
  <Load file="overview/index.html" />
</If>
<?php
