<h1>GravityForm Entries:</h1>
<Loop type=gravity_form_entry form_id = "[6,42]" > <!-- live 42 -->
  <div class="examples-container">
    <p>
    <h3>Form name: <Field form_name /></h3>
    <h4>Entry ID:<Field id /></h4>
    -entry currency: <strong><Field entry_currency /></strong><br />
    -entry payment status: <strong><Field payment_status /></strong><br />
    -entry payment date: <strong><Field payment_date /></strong><br />
    -entry payment amount: <strong><Field payment_amount /></strong><br />
    -entry payment method: <strong><Field payment_method /></strong><br />
    -entry transaction id: <strong><Field transaction_id /></strong><br />
    -entry transaction type: <strong><Field transaction_type /></strong><br />
    </p>
    <p>
    <h3>-Fields data:</h3>
    <Loop field=fields >
      <If field="type" is_not value="section">
        <If field="is_addon" is_not value="true">
          <strong>-Field ID: <Field id /></strong><br />
          -Field type: <strong><Field type /></strong><br />
          -Field input type: <strong><Field input_type /></strong><br />
          -Field Label:<strong><Field label /></strong><br />
        </If>
      </If>

      <If field="type" is value="section" >
        <strong><Field label /></strong><br />
        <hr/>
      </If>

      <!--** Specific STANDARD fields ** -->

      <If field="type" is value="multiselect" >
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="checkbox" />
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="radio" />
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="select" />
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <!--** Specific ADVANCED fields ** -->

        <Else if field="type" is value="consent" />
        <Loop field=value >
          *Text: <Field text /><br />
          *Description: <Field description /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="fileupload" />
        <Loop field=value >
          *File path: <Field /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="name" />
        -Field Value:<br />
        <Loop field=value >
          *Prefix: <Field prefix /><br />
          *First name: <Field first /><br />
          *Middle: <Field middle /><br />
          *Last name: <Field last /><br />
          *Suffix: <Field suffix /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="address" />
        -Field Value:<br />
        <Loop field=value >
          *Street: <Field street /><br />
          *Street2: <Field street2 /><br />
          *City: <Field city /><br />
          *State: <Field state /><br />
          *Zip: <Field zip /><br />
          *Country: <Field country /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />


        <!--** Specific PRICING fields  ** -->

        <Else if field="type" is value="product"/>
        -Field Value:<br />
        <Loop field=value >
          *Product name: <Field name /><br />
          *Product price: <Field price /><br /><br />
        </Loop>
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="shipping" />
        <Loop field=value >
          *Shipping name: <Field name /><br />
          *Shipping price: <Field price /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="option" />
        -Field Value:<br />
        <Loop field=value >
          * Option name: <Field  option_name /><br />
          * Option price: <Field  price /><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

      <!--** All other none specific fields  ** -->
      <Else />
        <If field="type" is_not value="section" >
          <If field="is_addon" is_not value="true" >
            <If field="is_loop" is_not value="true" >
            -Field Value: <Field value /><br /><br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />
          </If>
          </If>
        </If>
      </If>
    </Loop>
    </p>
    <br />
    <p>
    <h3>-Table view:</h3>
    <Field grid />
    </p>
    <br /><br />
  </div>
</Loop>

<Markdown>
  **Markup**: all entries:
  ```html
  <Loop type=gravity_form_entry form_id = '42' >
    <div class="examples-container">
      <p>
      <h3>Form name: <Field form_name /></h3>
      <h4>Entry ID:<Field id /></h4>
      -entry currency: <strong><Field entry_currency /></strong><br />
      -entry payment status: <strong><Field payment_status /></strong><br />
      -entry payment date: <strong><Field payment_date /></strong><br />
      -entry payment amount: <strong><Field payment_amount /></strong><br />
      -entry payment method: <strong><Field payment_method /></strong><br />
      -entry transaction id: <strong><Field transaction_id /></strong><br />
      -entry transaction type: <strong><Field transaction_type /></strong><br />
      </p>
      <p>
      <h3>-Fields data:</h3>
      <Loop field=fields >
        <If field="type" is_not value="section">
          <If field="is_addon" is_not value="true">
            <strong>-Field ID: <Field id /></strong><br />
            -Field type: <strong><Field type /></strong><br />
            -Field input type: <strong><Field input_type /></strong><br />
            -Field Label:<strong><Field label /></strong><br />
          </If>
        </If>

        <If field="type" is value="section" >
          <strong><Field label /></strong><br />
          <hr/>
        </If>

        <!--** Specific STANDARD fields ** -->

        <If field="type" is value="multiselect" >
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="checkbox" />
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="radio" />
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="select" />
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <!--** Specific ADVANCED fields ** -->

          <Else if field="type" is value="consent" />
          <Loop field=value >
            *Text: <Field text /><br />
            *Description: <Field description /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="fileupload" />
          <Loop field=value >
            *File path: <Field /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="name" />
          -Field Value:<br />
          <Loop field=value >
            *Prefix: <Field prefix /><br />
            *First name: <Field first /><br />
            *Middle: <Field middle /><br />
            *Last name: <Field last /><br />
            *Suffix: <Field suffix /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="address" />
          -Field Value:<br />
          <Loop field=value >
            *Street: <Field street /><br />
            *Street2: <Field street2 /><br />
            *City: <Field city /><br />
            *State: <Field state /><br />
            *Zip: <Field zip /><br />
            *Country: <Field country /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <!--** Specific PRICING fields  ** -->

          <Else if field="type" is value="product"/>
          -Field Value:<br />
          <Loop field=value >
            *Product name: <Field name /><br />
            *Product price: <Field price /><br /><br />
          </Loop>
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="shipping" />
          <Loop field=value >
            *Shipping name: <Field name /><br />
            *Shipping price: <Field price /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="option" />
          -Field Value:<br />
          <Loop field=value >
            * Option name: <Field  option_name /><br />
            * Option price: <Field  price /><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <!--** All other none specific fields  ** -->
          <Else />
          <If field="type" is_not value="section" >
            <If field="is_addon" is_not value="true" >
              <If field="is_loop" is_not value="true" >
                -Field Value: <Field value /><br /><br />
                *HTML View: <br />
                <Field value_html />
                <br /><br />
              </If>
            </If>
          </If>
        </If>
      </Loop>
      </p>
      <br />
      <p>
      <h3>-Table view:</h3>
      <Field grid />
      </p>
      <br /><br />
    </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>


