<h1>GravityForm Entries:</h1>
<Loop type=gravity_form_entry form_id = "[15,50]" > <!-- live 50 -->
  <div class="examples-container">
    <p>
    <h3>Form name: <Field form_name /></h3>
    <h4>Entry ID:<Field id /></h4>
    </p>
    <p>
    <h5>-Fields data:</h5>
    <!-- Entry fields loop -->
    <Loop field=fields >
      <If field="type" is value="section" >
        <strong><Field label /></strong><br />
        <hr/>
      </If>
        <!-- QUIZ -->
      <If field="type" is value="quiz" >
        <strong>-Field ID: <Field id /></strong><br />
        -Field type: <strong><Field type /></strong><br />
        -Field input type: <strong><Field input_type /></strong><br />
        -Field Label: <strong><Field label /></strong><br />
        -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
            * Is correct: <Field is_correct/><br/>
            * Weight: <Field weight/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />
      </If>
    </Loop>
    </p>
    <br />
    <p>
    <h3>-Quiz Score Data:</h3>
    -Quiz Score: <Field quiz_score /><br />
    -Quiz Percent: <Field quiz_percent />%<br />
    -Quiz Grade: <Field quiz_grade /><br />
    -Quiz Is Pass: <Field quiz_is_pass />
    <br /><br />
    </p>
    <p>
    <h3>-Grid(simple table view):</h3>
    <Field grid />
    </p>
    <br /><br />
  </div>
</Loop>

<Markdown>
  **Markup**: all entries:
  ```html
  <h1>GravityForm Entries:</h1>
  <Loop type=gravity_form_entry form_id = '50' >
    <div class="examples-container">
      <p>
      <h3>Form name: <Field form_name /></h3>
      <h4>Entry ID:<Field id /></h4>
      </p>
      <p>
      <h5>-Fields data:</h5>
      <!-- Entry fields loop -->
      <Loop field=fields >

        <If field="type" is value="section" >
          <strong><Field label /></strong><br />
          <hr/>
        </If>

        <!-- QUIZ -->
        <If field="type" is value="quiz" >
          <strong>-Field ID: <Field id /></strong><br />
          -Field type: <strong><Field type /></strong><br />
          -Field input type: <strong><Field input_type /></strong><br />
          -Field Label: <strong><Field label /></strong><br />
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
            * Is correct: <Field is_correct/><br/>
            * Weight: <Field weight/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />
        </If>
      </Loop>
      </p>
      <br />
      <p>
      <h3>-Quiz Score Data:</h3>
      -Quiz Score: <Field quiz_score /><br />
      -Quiz Percent: <Field quiz_percent />%<br />
      -Quiz Grade: <Field quiz_grade /><br />
      -Quiz Is Pass: <Field quiz_is_pass />
      <br /><br />
      </p>
      <p>
      <h3>-Grid(simple table view):</h3>
      <Field grid />
      </p>
      <br /><br />
    </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>


