<h1>Entry Results - Survey Radio, Select, Check </h1>

<!-- local 21; live 56 -->
<Set name=form_id>
  56
</Set>

<Markdown>
  **Markup**: Line Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="line" fill="false" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="56" field_id="[1,2,3]" source="survey" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="line" fill="false" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 21; live 56 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="survey" multi_labels="true"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Bar Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="bar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="56" field_id="[1,2,3]" source="survey" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="bar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 21; live 56 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="survey" multi_labels="true"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Radar Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="radar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="56" field_id="[1,2,3]" source="survey" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="radar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 21; live 56 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="survey" multi_labels="true"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Doughnut Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="doughnut" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="56" field_id="[3]" source="survey" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="doughnut" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 21; live 56 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[3]" source="survey" multi_labels="true"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Pie Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="pie" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="56" field_id="[1]" source="survey" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="pie" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 21; live 56 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1]" source="survey" multi_labels="true"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Polar Area Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="polarArea" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="56" field_id="[1,2]" source="survey" multi_labels="true"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="polarArea" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 21; live 56 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2]" source="survey" multi_labels="true"/>
  </Chart>

</p>







