<h1>GravityForm Entries:</h1>
<Loop type=gravity_form_entry form_id = "[1,37]" >  <!-- live 37 -->
<div class="examples-container">
  <p>

  <h3>Form name: <Field form_name /></h3>
  <h4>Entry ID:<Field id /></h4>
  </p>

  <p>
  <h5>-Fields data:</h5>
    <Loop field=fields >
      <If field="type" is_not value="section">
        <If field="is_addon" is_not value="true">
          <strong>-Field ID: <Field id /></strong><br />
          -Field type: <strong><Field type /></strong><br />
          -Field input type: <strong><Field input_type /></strong><br />
          -Field Label:<strong><Field label /></strong><br />
        </If>
      </If>

      <If field="type" is value="section" >
        <strong><Field label /></strong><br />
        <hr/>
      </If>

      <!--** Specific STANDARD fields ** -->

      <If field="type" is value="multiselect" >
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="checkbox" />
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="radio" />
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="select" />
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <!--** Specific ADVANCED fields ** -->

        <Else if field="type" is value="consent" />
        <Loop field=value >
          *Text: <Field text /><br />
          *Description: <Field description /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="fileupload" />
        <Loop field=value >
          *File path: <Field /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="name" />
        -Field Value:<br />
        <Loop field=value >
          *Prefix: <Field prefix /><br />
          *First name: <Field first /><br />
          *Middle: <Field middle /><br />
          *Last name: <Field last /><br />
          *Suffix: <Field suffix /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="address" />
        -Field Value:<br />
        <Loop field=value >
          *Street: <Field street /><br />
          *Street2: <Field street2 /><br />
          *City: <Field city /><br />
          *State: <Field state /><br />
          *Zip: <Field zip /><br />
          *Country: <Field country /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <!--** Specific POST fields ** -->

        <Else if field="type" is value="post_image" />
        -Field Value:<br />
        <Loop field=value >
          *Url: <Field url /><br />
          *Title: <Field title /><br />
          *Caption: <Field caption /><br />
          *Description: <Field description /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="post_category" />
        -Field Value:<br />
        <Loop field=value >
          *Name: <Field name /><br />
          *Id: <Field id /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="post_tags" />
        -Field Value:<br />
        <Loop field=value >
          *Name: <Field name /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <!--** Specific PRICING fields  ** -->

        <Else if field="type" is value="product"/>
        -Field Value:<br />
        <Loop field=value >
          *Product name: <Field name /><br />
          *Product price: <Field price /><br /><br />
        </Loop>
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="shipping" />
        <Loop field=value >
          *Shipping name: <Field name /><br />
          *Shipping price: <Field price /><br />
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <Else if field="type" is value="option" />
        -Field Value:<br />
        <Loop field=value >
          * Option name: <Field  name /><br />
          * Option price: <Field  price /><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

        <!--** Specific ADD ON fields  ** -->

        <!-- SURVEY -->
        <Else if field="type" is value="survey" />
        <strong>-Field ID: <Field id /></strong><br />
        -Field type: <strong><Field type /></strong><br />
        -Field input type: <strong><Field input_type /></strong><br />
        -Field Label: <strong><Field label /></strong><br />
        -Field Value:<br />

        <If field="input_type" is value="likert" >
          <Loop field=value>
            -<Get loop="count" />:<br />
            *Row: <Field row /><br />
            *Choice: <Field choice /><br />
            *Score: <Field score /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="input_type" is value="rank" />
          <Loop field=value>
            -<Get loop="count" />:<br />
            <Field /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="input_type" is value="rating" />
          <Field value/><br />
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="input_type" is value="checkbox" />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="input_type" is value="radio" />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="input_type" is value="select" />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else />
          <Field value/><br />
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />
        </If>

        <!-- QUIZ -->

        <Else if field="type" is value="quiz" />
        <strong>-Field ID: <Field id /></strong><br />
        -Field type: <strong><Field type /></strong><br />
        -Field input type: <strong><Field input_type /></strong><br />
        -Field Label: <strong><Field label /></strong><br />
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/>
          * Is correct: <Field is_correct/><br/>
          * Weight: <Field weight/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

      <!-- POLL -->

      <Else if field="type" is value="poll" />
        <strong>-Field ID: <Field id /></strong><br />
        -Field type: <strong><Field type /></strong><br />
        -Field input type: <strong><Field input_type /></strong><br />
        -Field Label: <strong><Field label /></strong><br />
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/><br/>
          ** Results:<br/>
          <Loop field=results>
            -<strong>Label: <Field label/></strong><br/>
            -Total Entries: <Field total_entries/><br/>
            -Percentage: <Field ratio/><br/>
          </Loop><br/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />

      <!--** All other none specific fields( not a list sub loop type) ** -->
      <Else />
      <If field="type" is_not value="section" >
        <If field="is_addon" is_not value="true" >
        <If field="is_loop" is_not value="true" >
          -Field Value: <Field value /><br /><br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />
        </If>
        </If>
      </If>
      </If>

    </Loop>
  </p>
  <br />
  <p>

  <h3>-Quiz Score Data:</h3>
  -Quiz Score: <Field quiz_score /><br />
  -Quiz Percent: <Field quiz_percent />%<br />
  -Quiz Grade: <Field quiz_grade /><br />
  -Quiz Is Pass: <Field quiz_is_pass />
  <br /><br />
  </p>
  <p>
  <h3>-Entry View(simple table view):</h3>
  <Field grid />
  </p>
  <br /><br />
</div>
</Loop>


<Markdown>
  **Markup**: all entries:
  ```html
  <h1>GravityForm Entries:</h1>
  <Loop type=gravity_form_entry form_id = '37' >
    <div class="examples-container">
      <p>

      <h3>Form name: <Field form_name /></h3>
      <h4>Entry ID:<Field id /></h4>
      </p>

      <p>
      <h5>-Fields data:</h5>
      <Loop field=fields >
        <If field="type" is_not value="section">
          <If field="is_addon" is_not value="true">
            <strong>-Field ID: <Field id /></strong><br />
            -Field type: <strong><Field type /></strong><br />
            -Field input type: <strong><Field input_type /></strong><br />
            -Field Label:<strong><Field label /></strong><br />
          </If>
        </If>

        <If field="type" is value="section" >
          <strong><Field label /></strong><br />
          <hr/>
        </If>

        <!--** Specific STANDARD fields ** -->

        <If field="type" is value="multiselect" >
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="checkbox" />
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="radio" />
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="select" />
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <!--** Specific ADVANCED fields ** -->

          <Else if field="type" is value="consent" />
          <Loop field=value >
            *Text: <Field text /><br />
            *Description: <Field description /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="fileupload" />
          <Loop field=value >
            *File path: <Field /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="name" />
          -Field Value:<br />
          <Loop field=value >
            *Prefix: <Field prefix /><br />
            *First name: <Field first /><br />
            *Middle: <Field middle /><br />
            *Last name: <Field last /><br />
            *Suffix: <Field suffix /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="address" />
          -Field Value:<br />
          <Loop field=value >
            *Street: <Field street /><br />
            *Street2: <Field street2 /><br />
            *City: <Field city /><br />
            *State: <Field state /><br />
            *Zip: <Field zip /><br />
            *Country: <Field country /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <!--** Specific POST fields ** -->

          <Else if field="type" is value="post_image" />
          -Field Value:<br />
          <Loop field=value >
            *Url: <Field url /><br />
            *Title: <Field title /><br />
            *Caption: <Field caption /><br />
            *Description: <Field description /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="post_category" />
          -Field Value:<br />
          <Loop field=value >
            *Name: <Field name /><br />
            *Id: <Field id /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="post_tags" />
          -Field Value:<br />
          <Loop field=value >
            *Name: <Field name /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <!--** Specific PRICING fields  ** -->

          <Else if field="type" is value="product"/>
          -Field Value:<br />
          <Loop field=value >
            *Product name: <Field name /><br />
            *Product price: <Field price /><br /><br />
          </Loop>
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="shipping" />
          <Loop field=value >
            *Shipping name: <Field name /><br />
            *Shipping price: <Field price /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="type" is value="option" />
          -Field Value:<br />
          <Loop field=value >
            * Option name: <Field  name /><br />
            * Option price: <Field  price /><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <!--** Specific ADD ON fields  ** -->

          <!-- SURVEY -->
          <Else if field="type" is value="survey" />
          <strong>-Field ID: <Field id /></strong><br />
          -Field type: <strong><Field type /></strong><br />
          -Field input type: <strong><Field input_type /></strong><br />
          -Field Label: <strong><Field label /></strong><br />
          -Field Value:<br />

          <If field="input_type" is value="likert" >
            <Loop field=value>
              -<Get loop="count" />:<br />
              *Row: <Field row /><br />
              *Choice: <Field choice /><br />
              *Score: <Field score /><br />
            </Loop>
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else if field="input_type" is value="rank" />
            <Loop field=value>
              -<Get loop="count" />:<br />
              <Field /><br />
            </Loop>
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else if field="input_type" is value="rating" />
            <Field value/><br />
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else if field="input_type" is value="checkbox" />
            <Loop field=value >
              * Text:<Field text/><br/>
              * Value:<Field value/><br/>
            </Loop>
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else if field="input_type" is value="radio" />
            <Loop field=value >
              * Text:<Field text/><br/>
              * Value:<Field value/><br/>
            </Loop>
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else if field="input_type" is value="select" />
            <Loop field=value >
              * Text:<Field text/><br/>
              * Value:<Field value/><br/>
            </Loop>
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else />
            <Field value/><br />
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />
          </If>

          <!-- QUIZ -->

          <Else if field="type" is value="quiz" />
          <strong>-Field ID: <Field id /></strong><br />
          -Field type: <strong><Field type /></strong><br />
          -Field input type: <strong><Field input_type /></strong><br />
          -Field Label: <strong><Field label /></strong><br />
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
            * Is correct: <Field is_correct/><br/>
            * Weight: <Field weight/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <!-- POLL -->

          <Else if field="type" is value="poll" />
          <strong>-Field ID: <Field id /></strong><br />
          -Field type: <strong><Field type /></strong><br />
          -Field input type: <strong><Field input_type /></strong><br />
          -Field Label: <strong><Field label /></strong><br />
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/><br/>
            ** Results:<br/>
            <Loop field=results>
              -<strong>Label: <Field label/></strong><br/>
              -Total Entries: <Field total_entries/><br/>
              -Percentage: <Field ratio/><br/>
            </Loop><br/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <!--** All other none specific fields( not a list sub loop type) ** -->
          <Else />
          <If field="type" is_not value="section" >
            <If field="is_addon" is_not value="true" >
              <If field="is_loop" is_not value="true" >
                -Field Value: <Field value /><br /><br />
                *HTML View: <br />
                <Field value_html />
                <br /><br />
              </If>
            </If>
          </If>
        </If>

      </Loop>
      </p>
      <br />
      <p>
      <h3>-Quiz Score Data:</h3>
      -Quiz Score: <Field quiz_score /><br />
      -Quiz Percent: <Field quiz_percent />%<br />
      -Quiz Grade: <Field quiz_grade /><br />
      -Quiz Is Pass: <Field quiz_is_pass />
      <br /><br />
      </p>
      <p>
      <h3>-Entry View(simple table view):</h3>
      <Field grid />
      </p>
      <br /><br />
    </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>


