<Set demo-forms-route >
  <Route part="-1" />
</Set>

<!--Route part="-1" /-->
  <If check="{Get demo-forms-route}" is value="form-1">
    <Load file="form-1.html" />

    <Else if check="{Get demo-forms-route}" is value="form-2" />
    <Load file="form-2.html" />

    <Else if check="{Get demo-forms-route}" is value="form-3" />
    <Load file="form-3.html" />

    <Else if check="{Get demo-forms-route}" is value="form-4" />
    <Load file="form-4.html" />

    <Else if check="{Get demo-forms-route}" is value="form-5" />
    <Load file="form-5.html" />

    <Else if check="{Get demo-forms-route}" is value="form-6" />
    <Load file="form-6.html" />

    <Else if check="{Get demo-forms-route}" is value="form-7" />
    <Load file="form-7.html" />

    <Else if check="{Get demo-forms-route}" is value="quick-test-form-post" />
    <Load file="quick-test-form.html" />

    <Else if check="{Get demo-forms-route}" is value="survey-likert-single" />
    <Load file="survey-likert-single.html" />

    <Else if check="{Get demo-forms-route}" is value="survey-likert-multiple" />
    <Load file="survey-likert-multiple.html" />

    <Else if check="{Get demo-forms-route}" is value="survey-rank" />
    <Load file="survey-rank.html" />

    <Else if check="{Get demo-forms-route}" is value="survey-rating" />
    <Load file="survey-rating.html" />

    <Else if check="{Get demo-forms-route}" is value="survey-radio-select-check" />
    <Load file="survey-radio-select-check.html" />

    <Else if check="{Get demo-forms-route}" is value="quiz-form-all-field-types" />
    <Load file="quiz-form-all-field-types.html" />

    <Else if check="{Get demo-forms-route}" is value="poll-form-all-field-types" />
    <Load file="poll-form-all-field-types.html" />

    <Else if check="{Get demo-forms-route}" is value="simple-profile-form-post" />
    <Load file="simple-profile-form-post.html" />

    <Else />
    <Load file="../not-found.html" />
  </If>

