<h1>Entry Results - Survey Likert Multiple Row Form </h1>
<div class="alert alert-info">
  Entry Results Survey Likert Multiple Row type GFChartData tag takes into account only one field("field_id" argument)
</div>

<!-- local 18; live 53 -->
<Set name=form_id>
  53
</Set>

<!--local 5; live 1-->
<Set name=field_id>
  1
</Set>

<Markdown>
  **Markup**: Line Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="line" fill="false" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="53" field_id="[1]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="line" fill="false" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 18; live 53 ; field id: loval 5; live 1-->
    <GFChartData form_id="{Get name=form_id}" field_id="{Get name=field_id}" source="survey"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Bar Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="bar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="53" field_id="[1]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="bar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 18; live 53 ; field id: loval 5; live 1-->
    <GFChartData form_id="{Get name=form_id}" field_id="{Get name=field_id}" source="survey"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Radar Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="radar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="53" field_id="[1]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="radar" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 18; live 53 ; field id: loval 5; live 1-->
    <GFChartData form_id="{Get name=form_id}" field_id="{Get name=field_id}" source="survey"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Doughnut Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="doughnut" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="53" field_id="[1]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="doughnut" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 18; live 53 ; field id: loval 5; live 1-->
    <GFChartData form_id="{Get name=form_id}" field_id="{Get name=field_id}" source="survey"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Pie Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="pie" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="53" field_id="[1]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="pie" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 18; live 53 ; field id: loval 5; live 1-->
    <GFChartData form_id="{Get name=form_id}" field_id="{Get name=field_id}" source="survey"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Polar Area Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="polarArea" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <GFChartData form_id="53" field_id="[1]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
    <Item>rgba(255, 125, 102, 0.5)</Item>
    <Item>rgba(102, 153, 255,0.5)</Item>
  </List>

  <List name=border_color>
    <Item>#bf2977</Item>
    <Item>#0c50cb</Item>
    <Item>hsla(9, 100%, 50%, 0.8)</Item>
    <Item>rgba(255, 125, 102, 1)</Item>
    <Item>rgb(152, 171, 208)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="polarArea" background_color="{Get list=background_color}" border_color="{Get list=border_color}">
    <!-- local 18; live 53 ; field id: loval 5; live 1-->
    <GFChartData form_id="{Get name=form_id}" field_id="{Get name=field_id}" source="survey"/>
  </Chart>

</p>







