<?php
use BetterDash as bdash;

$logic = tangible_logic();
$html = tangible_template();

$logic_rules_ld = $logic->get_rules_by_category('lifterlms');

$logic_rules =$logic_rules_ld;

$logic_rule_keys = ['course','course_progress','certificate'];

$html->set_list('logic_fields', array_map(function($key) use ($logic_rules) {
  return $logic_rules[ $key ][0]; // Fields can have more than one config
}, $logic_rule_keys));

//tgbl()->see( $logic_rules );
//tgbl()->see( $html->get_list('logic_fields') );

?>
<Markdown>

# Course logic

## Some Usage Examples

```html

  <If course enrolled>
  <If course started>
  <If course completed>
  <If course_progress greater_than value="50">
  <If certificate is earned>
  ...

```

## Rules

Here are the registered conditional rules.

<Load from=child_theme file="common/conditional-rules.html" />

</Markdown>
