<h1>GravityForm Entries:</h1>
<Loop type=gravity_form_entry form_id = "[16,51]" order="desc" orderby="id"> <!-- live 51 -->
  <div class="examples-container">
    <p>
    <h3>Form name: <Field form_name /></h3>
    <h4>Entry ID:<Field id /></h4>
    </p>
    <p>
    <h5>-Fields data:</h5>
    <Loop field=fields >

      <If field="type" is value="section" >
        <strong><Field label /></strong><br />
        <hr/>
      </If>

      <!-- POLL -->
      <If field="type" is value="poll" >
        <strong>-Field ID: <Field id /></strong><br />
        -Field type: <strong><Field type /></strong><br />
        -Field input type: <strong><Field input_type /></strong><br />
        -Field Label: <strong><Field label /></strong><br />
        -Field Value:<br />
        <Loop field=value >
          * Text:<Field text/><br/>
          * Value:<Field value/><br/><br/>
          ** Results:<br/>
          <Loop field=results>
            -<strong>Label: <Field label/></strong><br/>
            -Total Entries: <Field total_entries/><br/>
            -Percentage: <Field ratio/><br/>
          </Loop><br/><br/>
        </Loop>
        <br />
        *HTML View: <br />
        <Field value_html />
        <br /><br />
      </If>
    </Loop>
    </p>
    <br />
    <p>
    <h3>-Summary:</h3>
    <Field grid />
    </p>
    <br /><br />
  </div>
</Loop>

<Markdown>
  **Markup**: all entries:
  ```html
  <h1>GravityForm Entries:</h1>
  <Loop type=gravity_form_entry form_id = '51' >
    <div class="examples-container">
      <p>
      <h3>Form name: <Field form_name /></h3>
      <h4>Entry ID:<Field id /></h4>
      </p>
      <p>
      <h5>-Fields data:</h5>
      <Loop field=fields >

        <If field="type" is value="section" >
          <strong><Field label /></strong><br />
          <hr/>
        </If>

        <!-- POLL -->
        <If field="type" is value="poll" >
          <strong>-Field ID: <Field id /></strong><br />
          -Field type: <strong><Field type /></strong><br />
          -Field input type: <strong><Field input_type /></strong><br />
          -Field Label: <strong><Field label /></strong><br />
          -Field Value:<br />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/><br/>
            ** Results:<br/>
            <Loop field=results>
              -<strong>Label: <Field label/></strong><br/>
              -Total Entries: <Field total_entries/><br/>
              -Percentage: <Field ratio/><br/>
            </Loop><br/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />
        </If>
      </Loop>
      </p>
      <br />
      <p>
      <h3>-Summary:</h3>
      <Field grid />
      </p>
      <br /><br />
    </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>


