<h1>GravityForm Entries:</h1>
<Loop type=gravity_form_entry form_id = "[12,48]"> <!-- live 48 -->
  <div class="examples-container">
    <p>

    <h3>Form name: <Field form_name /></h3>
    <h4>Entry ID:<Field id /></h4>
    </p>

    <p>
      <!-- Entry fields loop -->
    <h5>-Fields data:</h5>

    <Loop field=fields >

    <!-- Alternatively -->
    <!--Loop type=gravity_form_entry_fields field_id = "[9]" entry_id="{Field id}"-->
    <!--**** -->

      <If field="type" is value="section" >
        <strong><Field label /></strong><br />
        <hr/>
      </If>
        <!-- SURVEY -->
      <If field="type" is value="survey" >
        <strong>-Field ID: <Field id /></strong><br />
        -Field type: <strong><Field type /></strong><br />
        -Field input type: <strong><Field input_type /></strong><br />
        -Field Label: <strong><Field label /></strong><br />
        -Field Value:<br />

        <If field="input_type" is value="likert" >
          <Loop field=value>
            -<Get loop="count" />:<br />
            *Row: <Field row /><br />
            *Choice: <Field choice /><br />
            *Score: <Field score /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="input_type" is value="rank" />
          <Loop field=value>
            -<Get loop="count" />:<br />
            <Field /><br />
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="input_type" is value="rating" />
          <Field value/><br />
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="input_type" is value="checkbox" />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="input_type" is value="radio" />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else if field="input_type" is value="select" />
          <Loop field=value >
            * Text:<Field text/><br/>
            * Value:<Field value/><br/>
          </Loop>
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />

          <Else />
          <Field value/><br />
          <br />
          *HTML View: <br />
          <Field value_html />
          <br /><br />
        </If>
      </If>
    </Loop>
    </p>
    <br />
    <p>
    <h3>-Entry Table (simple table view):</h3>
    <Field grid />
    </p>
    <br /><br />
  </div>
</Loop>
<Markdown>
  **Markup**: Survey Add On entries:
  ```html
  <h1>GravityForm Entries:</h1>
  <Loop type=gravity_form_entry form_id = '48' >
    <div class="examples-container">
      <p>

      <h3>Form name: <Field form_name /></h3>
      <h4>Entry ID:<Field id /></h4>
      </p>

      <p>
        <!-- Entry fields loop -->
      <h5>-Fields data:</h5>
      <Loop field=fields >

        <!-- Alternatively: -->
        <!-- <Loop type=gravity_form_entry_fields field="[1,9]" entry_id="{Field id}"> -->
        <!--**** -->

        <If field="type" is value="section" >
          <strong><Field label /></strong><br />
          <hr/>
        </If>
        <!-- SURVEY -->
        <If field="type" is value="survey" >
          <strong>-Field ID: <Field id /></strong><br />
          -Field type: <strong><Field type /></strong><br />
          -Field input type: <strong><Field input_type /></strong><br />
          -Field Label: <strong><Field label /></strong><br />
          -Field Value:<br />

          <If field="input_type" is value="likert" >
            <Loop field=value>
              -<Get loop="count" />:<br />
              *Row: <Field row /><br />
              *Choice: <Field choice /><br />
              *Score: <Field score /><br />
            </Loop>
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else if field="input_type" is value="rank" />
            <Loop field=value>
              -<Get loop="count" />:<br />
              <Field /><br />
            </Loop>
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else if field="input_type" is value="rating" />
            <Field value/><br />
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else if field="input_type" is value="checkbox" />
            <Loop field=value >
              * Text:<Field text/><br/>
              * Value:<Field value/><br/>
            </Loop>
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else if field="input_type" is value="radio" />
            <Loop field=value >
              * Text:<Field text/><br/>
              * Value:<Field value/><br/>
            </Loop>
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else if field="input_type" is value="select" />
            <Loop field=value >
              * Text:<Field text/><br/>
              * Value:<Field value/><br/>
            </Loop>
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />

            <Else />
            <Field value/><br />
            <br />
            *HTML View: <br />
            <Field value_html />
            <br /><br />
          </If>
        </If>
      </Loop>
      </p>
      <br />
      <p>
      <h3>-Entry Table (simple table view):</h3>
      <Field grid />
      </p>
      <br /><br />
    </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>


