<Markdown>
# GField tag

  Due to complex Gravity Forms entry data structure getting entry field values requires multiple nested loops and could result in a complex markup which is hard to use for less technically savvy Loops&Logic users.

  <code>GField</code> tag is aimed to allow "flattening" loops and make the markup more human readable.

  ### GField Attributes

  - <code>id</code> - (mandatory) A Field ID which Data should be displayed
  - <code>entry_id</code> - Current Entry id from which we display field values. This attribute is not needed except when we want to display the field value within a nested loop - in that case the <code>entry_id</code> attribute is mandatory.
  - <code>value_key</code> - Attribute which determines which part of the field value we want to display. There are some field types, however, which are simple values and the "value_key" is not needed.
  - <code>label</code> - Returns field label.
  - <code>type</code> - Returns field type.
  - <code>input_type</code> - Returns field input type.

  You can see a demo for Loops for Gravity [here](https://demos.tangibleplugins.com/loops-for-gravity-forms/chamber-of-commerce-listing/) and some more examples [here](/example/gfield/gfield-tag).

  ### GField Usage for different Gravity Forms field types

  Here are examples of <code>GField</code> usage grouped by Gravity Forms fields types:
</Markdown>
<style>
  html {
    scroll-behavior: smooth;
  }
</style>
<div id="top"></div>
<ul>
  <li><a href="#standard">Standard Fields</a> </li>
  <li><a href="#advanced">Advanced Fields</a> </li>
  <li><a href="#survey">Survey AddOn Fields</a> </li>
  <li><a href="#poll">Poll AddOn Fields</a> </li>
  <li><a href="#quiz">Quiz AddOn Fields</a> </li>
  <li><a href="#post">Post Fields</a> </li>
  <li><a href="#pricing">Pricing Fields</a> </li>
</ul>
<br />

<div id="standard">
  <h3>Standard Fields <a style="font-size: 14px; margin-left:50px;" href="#top">scroll to top</a></h3>
<Markdown>
  **Field types**:  multiselect, select, radio, checkbox

  Available keys:
  - text
  - value

  Usage for:  select, radio:
  ```html
  <GField id="1" value_key="text"/>
  <GField id="1" value_key="value"/>
  ```
  Usage for: multiselect, checkbox:
  ```html
  <Loop list="{GField id=1}" >
    <Loop map="{Field}">
      <Field text />
      <Field value />
    </Loop>
  </Loop>
  ```
  **Field types**:  text, textarea, number

  Available keys:
  - no keys,  a simple value

  Usage for:  text, textarea, number:
  ```html
  <GField id="1"/>
  ```
</Markdown>
</div>
<br />
<div id="advanced">
  <h3>Advanced Fields <a style="font-size: 14px; margin-left:50px;" href="#top">scroll to top</a></h3>
<Markdown>
  **Field types**:  name

  Available keys:
  - prefix
  - first
  - middle
  - last
  - suffix

  Usage for: name
  ```html
  <GField id="1" value_key="prefix"/>
  <GField id="1" value_key="first"/>
  <GField id="1" value_key="middle"/>
  <GField id="1" value_key="last"/>
  <GField id="1" value_key="suffix"/>
  ```
  **Field types**:  address

  Available keys:
  - street
  - street2
  - city
  - state
  - zip
  - country

  Usage for: address
  ```html
  <GField id="1" value_key="street" />
  <GField id="1" value_key="street2" />
  <GField id="1" value_key="city" />
  <GField id="1" value_key="state" />
  <GField id="1" value_key="zip" />
  <GField id="1" value_key="country" />
  ```
  **Field types**:  consent

  Available keys:
  - text
  - description

  Usage for: consent
  ```html
  <GField id="1" value_key="text" />
  <GField id="1" value_key="description" />
  ```
  **Field types**: fileupload

  Available keys:
  - no keys, a simple list

  Usage for:  fileupload
  ```html
  <Loop list="{GField id=1}" >
    <Field/>
  </Loop>
  ```
  **Field types**:  time,  date, email, phone, website, list

  Available keys:
  - no keys,  a simple value

  Usage for:  time,  date ,email, phone, website,list:
  ```html
  <GField id="1"/>
  ```

</Markdown>
</div>
<br />
<div id="survey">
  <h3>Survey Fields <a style="font-size: 14px; margin-left:50px;" href="#top">scroll to top</a></h3>
<Markdown>
  **Field input types**:  radio, select,  checkbox

  Available keys:
  - text
  - value

  Usage for:  select, radio:
  ```html
  <GField id="1" value_key="text"/>
  <GField id="1" value_key="value"/>
  ```
  Usage for:  checkbox:
  ```html
  <Loop list="{GField id=1}" >
    <Loop map="{Field}">
      <Field text />
      <Field value />
    </Loop>
  </Loop>
  ```
  **Field input types**: text, textarea

  available keys:
  no keys, a simple value

  Usage for:  text, textarea:
  ```html
  <GField id="1"/>
  ```
  **Field input types**: likert

  Available keys:
  - row
  - choice
  - score

  Usage for:  likert:
  ```html
  <Loop list="{GField id=1}" >
    <Loop map="{Field}">
      <Field row />
      <Field choice />
      <Field score />
    </Loop>
  </Loop>
  ```
  **Field input types**: rank

  Available keys:
  - no keys, a simple list

  Usage for:  rank:
  ```html
  <Loop list="{GField id=1}" >
    <Field/>
  </Loop>
  ```
  **Field input types**:  rating

  Available keys:
  - text
  - value

  Usage for: rating
  ```html
  <GField id="1" value_key="text"/>
  <GField id="1" value_key="value"/>
  ```
</Markdown>
</div>
<br />

<div id="poll">
  <h3>Poll Fields <a style="font-size: 14px; margin-left:50px;" href="#top">scroll to top</a></h3>
<Markdown>
  **Field input types**:  radio, select, checkbox(checkbox type represents  list Loop of maps )

  Available keys:
  - text
  - value
  - results  - results key represents a list loop of maps **with available keys:  label, total_entries, ratio**

  Usage for:  select, radio:
  ```html
  <GField id="1" value_key="text"/>
  <GField id="1" value_key="value"/>
  ```
  Usage for:  checkbox:
  ```html
  <Loop list="{GField id=1}" >
    <Loop map="{Field}">
      <Field text />
      <Field value />
    </Loop>
  </Loop>
  ```
  Usage for results key:
  ```html
  <Loop list="{GField id=1 value_key=results}" >
    <Loop map="{Field}" >
      <Field label />
      <Field total_entries />
      <Field ratio />
    </Loop>
  </Loop>
  ```
</Markdown>
</div>
<br />

<div id="quiz">
  <h3>Quiz Fields <a style="font-size: 14px; margin-left:50px;" href="#top">scroll to top</a></h3>
<Markdown>
  **Field input types**:  radio, select,  checkbox

  Available keys:
  - text
  - value
  - is_correct
  - weight

  Usage for:  select, radio:
  ```html
  <GField id="1" value_key="text"/>
  <GField id="1" value_key="value"/>
  <GField id="1" value_key="is_correct"/>
  <GField id="1" value_key="weight"/>
  ```
  Usage checkbox:
  ```html
  <Loop list="{GField id=1}" >
    <Loop map="{Field}">
      <Field text />
      <Field value />
      <Field is_correct />
      <Field weight />
    </Loop>
  </Loop>
  ```
</Markdown>
</div>
<br />

<div id="post">
  <h3>Post Fields <a style="font-size: 14px; margin-left:50px;" href="#top">scroll to top</a></h3>
<Markdown>

  **Field types**:  post_title, post_excerpt, post_content, post_tags

  Available keys:
  - no keys, a simple value

  Usage for:  post_title, post_excerpt, post_content , post_tags
  ```html
  <GField id="1"/>
  ```
  **Field types**: post_category

  Available keys:
  - id
  - name

  Usage post_category:
  ```html
  <Loop list="{GField id=1}" >
    <Loop map="{Field}">
      <Field text />
      <Field value />
    </Loop>
  </Loop>
  ```
  **Field types**: post_image

  Available keys:
  - url
  - title
  - caption
  - description

  Usage for:  post_image
  ```html
  <GField id="1" value_key="url"/>
  <GField id="1" value_key="title"/>
  <GField id="1" value_key="caption"/>
  <GField id="1" value_key="description"/>
  ```
</Markdown>
</div>
<br />

<div id="pricing">
  <h3>Pricing Fields <a style="font-size: 14px; margin-left:50px;" href="#top">scroll to top</a></h3>
<Markdown>

  **Field types**: product, shipping

  Available keys:
  - name
  - price

  Usage for:  product, shipping:
  ```html
  <GField id="1" value_key="name"/>
  <GField id="1" value_key="price"/>
  ```
  **Field types**: quantity, total

  Available keys:
  - no keys,  a simple value

  Usage for: quantity, total
  ```html
  <GField id="1"/>
  ```
  **Field types**: option

  Available keys:
  - name
  - price

  Usage for: option
  ```html
  <Loop list="{GField id=1}" >
    <Loop map="{Field}">
      <Field name/>
      <Field price />
    </Loop>
  </Loop>
  ```
</Markdown>
</div>

