<ul>
  <Loop list=logic_fields>
    <li>
      <p>
      <strong><Field label /></strong> - <code render><Field name /><If field=field_2>=".."</If></code>
      <If loop exists list="{Field operands}">
      <p>Compare</p>
      <ul>
        <Loop>
          <li><code render class="color-blue"><Field name /></code></li>
        </Loop>
      </ul>
      <If loop exists list="{Field values}">
        <Loop>
          <If field=type value=select>
            <p>Values</p>
            <ul>
              <Loop list="{Field options}">
                <li><Field label /> - <code render><Field name /></code></li>
              </Loop>
            </ul>
          <Else/>
            <p>Value: <Field label /> - <code render><Field name /></code></p>

          </If>

        </Loop>
      </If>
      </If>
      </p>
    </li>
    <p></p>
  </Loop>
</ul>