<h4>Fields</h4>
<Set the-route >
  <Route part="-2" />
</Set>
<If check="{Get the-route}" is value="entry-fields">
<div class="alert alert-info">
  <h5>Some Gravity Forms Entry Field values are sub loops of list type and have specific Loop keys.</h5>
  <p>
    Gravity Forms fields:
  <ul>
    <li>
      Standard fields
      <div> <strong>value</strong> of "multiselect", "checkbox", "radio", "select" field types is a loop with keys:</div>
      <div>- text </div>
      <div>- value</div>
    </li>
    <li>
      Advanced fields
      <div> <strong>value</strong> of "consent" field type is a loop with keys:</div>
      <div>- text </div>
      <div>- description</div>

      <div> <strong>value</strong> of "name" field type is a loop with keys:</div>
      <div>- prefix </div>
      <div>- first</div>
      <div>- middle</div>
      <div>- last</div>
      <div>- suffix</div>

      <div> <strong>value</strong> of "address" field type is a loop with keys:</div>
      <div>- street </div>
      <div>- street2</div>
      <div>- city</div>
      <div>- state</div>
      <div>- zip</div>
      <div>- country</div>
    </li>
    <li>
      Post fields
      <div> <strong>value</strong> of "post_image" field type is a loop with keys:</div>
      <div>- url </div>
      <div>- title</div>
      <div>- caption</div>
      <div>- description</div>

      <div> <strong>value</strong> of "post_category" field type is a loop with keys:</div>
      <div>- name </div>
      <div>- id</div>

      <div> <strong>value</strong> of "post_tags" field type is a loop with keys:</div>
      <div>- name </div>
    </li>
    <li>
      Pricing fields
      <div> <strong>value</strong> of "product", "shipping", "option" fields type is a loop with keys:</div>
      <div>- name </div>
      <div>- price</div>
    </li>
  </ul>
  </p>
  <p>
    Gravity Forms AddOn Fields:
  <ul>
    <li>
      Survey fields:
      <div> <strong>value</strong> of "survey" field type - input type "likert" is a loop with keys:</div>
      <div>- row </div>
      <div>- choice </div>
      <div>- score </div>

      <div> <strong>value</strong> of "survey" field type - input type "rating" is a loop with keys:</div>
      <div>- value </div>

      <div> <strong>value</strong> of "survey" field type - input types "checkbox", "radio", "select" is a loop with keys:</div>
      <div>- text </div>
      <div>- value </div>
    </li>
    <li>
      Quiz fields:
      <div> <strong>value</strong> of "quiz" field type - input types "checkbox", "radio", "select" is a loop with keys:</div>
      <div>- text </div>
      <div>- value </div>
      <div>- is_correct </div>
      <div>- weight </div>
    </li>
    <li>
      Poll fields:
      <div> <strong>value</strong> of "survey" field type - input types "checkbox", "radio", "select" is a loop with keys:</div>
      <div>- text </div>
      <div>- value </div>
      <div><strong>- result</strong> key is subloop, with keys:</div>
      <div>-- label </div>
      <div>-- total_entries </div>
      <div>-- ratio </div>
    </li>
  </ul>
  </p>
  <p>
  <div> <strong>Usage</strong></div>
  <div> - Poll field example: </div>
  <div>
<Markdown>
    <If field="type" is value="poll" >
      <Loop field=value >
        * Text:<Field text/><br/>
        * Value:<Field value/><br/><br/>
        ** Results:<br/>
        <Loop field=results>
          -<strong>Label: <Field label/></strong><br/>
          -Total Entries: <Field total_entries/><br/>
          -Percentage: <Field ratio/><br/>
        </Loop><br/>
      </Loop>
    </If>
</Markdown>
    <div>For more details please see <a href="/example/overview">Examples</a> </div>
  </div>
  </p>
</div>
</If>
<p></p>
<ul>
  <Loop map_keys=fields>
    <li>
      <code class="color-attribute" render><Field key /></code>
      <Loop field=value>
        - <Field description /><br>
      </Loop>
    </li>
  </Loop>
</ul>