<h1>Poll Form:</h1>
<If loop type=gravity_form_entry form_id="[16,51]" ><!-- local 16; live 51 -->
  <ul class="tt-loop" cols=3 id="poll-listing">
    <Loop type=gravity_form_entry  form_id ="[16,51]" order="desc" orderby="id">
      <li class="tt-item tt-item-card">
        <h3>Entry id: <Field id /></h3>

      <h4><GField id="4" label /></h4>
        - Text: <GField id="4" value_key="text"/><br />
        - Value: <GField id="4" value_key="value"/><br />

      <h4><GField id="5" label /></h4>
        - Text: <GField id="5" value_key="text"/><br />
        - Value: <GField id="5" value_key="value"/><br />

      <h4><GField id="6" label /></h4>
        <Loop list="{GField id=6}" >
          <Loop map="{Field}">
            - Text: <Field text /><br />
            - Value: <Field value /><br />
          </Loop>
        </Loop>
      </li>
      <br /><br /><br />

      <If last>
        <h3>Poll results:</h3>
        <Loop list="{GField id=6 value_key=results}" >
          <Loop map="{Field}" >
            - Label: <Field label /><br />
            - Total Entries: <Field total_entries /><br />
            - Percentage: <Field ratio /> <br />
          </Loop>
          <br />
        </Loop>
      </If>
    </Loop>
  </ul>
<Else />
  No listings yet. Add one with the form!
</If>

<Markdown>
  **Markup**: GField tag:
  ```html
  <h1>Poll Form:</h1>
  <If loop type=gravity_form_entry form_id="[51]" >
    <ul class="tt-loop" cols=3 id="poll-listing">
      <Loop type=gravity_form_entry  form_id ="[51]" order="desc" orderby="id">
        <li class="tt-item tt-item-card">
          <h3>Entry id: <Field id /></h3>

          <!-- Poll Field input type 'select' -->
          <h4><GField id="4" label /></h4>
          - Text: <GField id="4" value_key="text"/><br />
          - Value: <GField id="4" value_key="value"/><br />

          <!-- Poll Field input type 'radio' -->
          <h4><GField id="5" label /></h4>
          - Text: <GField id="5" value_key="text"/><br />
          - Value: <GField id="5" value_key="value"/><br />

          <!-- Poll Field input type 'checkbox' -->
          <h4><GField id="6" label /></h4>
          <Loop list="{GField id=6}" >
            <Loop map="{Field}">
              - Text: <Field text /><br />
              - Value: <Field value /><br />
            </Loop>
          </Loop>
        </li>
        <br /><br /><br />

        <!-- Poll 'results' -->
        <If last>
          <h3>Poll results:</h3>
          <Loop list="{GField id=6 value_key=results}" >
            <Loop map="{Field}" >
              - Label: <Field label /><br />
              - Total Entries: <Field total_entries /><br />
              - Percentage: <Field ratio /> <br />
            </Loop>
            <br />
          </Loop>
        </If>

      </Loop>
    </ul>
  <Else />
    No listings yet. Add one with the form!
  </If>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<h1>Simple Profile Form:</h1>

<If loop type=gravity_form_entry form_id="[24,59]"><!-- local 24; live 59 -->

  <ul class="tt-loop" cols=3 id="profile-listing">

    <Loop type=gravity_form_entry form_id="[24,59]" orderby=date_created order=desc paged=9>

      <!-- Main profile card -->
      <li class="tt-item tt-item-card">
        <div class="tt-item-wrapper tt-item-link">
          <div class="tt-item-text">

            <!-- Name -->
            <div class="tt-item-title">
              <h2><GField  id="1" value_key="text"/> <GField id="2" value_key="text"/></h2>
            </div>

            <!-- Company -->
            <div class="tt-item-meta">
              <div class="tt-item-subtitle">
                <span class="tt-item-meta-label">
                  Company:
                </span>
                <GField  id="5"  value_key="text"/>
              </div>
            </div>

            <!-- Sector -->
            <div class="tt-item-meta">
              <div>
                <span class="tt-item-meta-label">
                  Sector:
                </span>
                <GField  id="6"  value_key="text"/>
              </div>
            </div>

            <!-- Hobbies -->
            <div class="tt-item-meta">
              <div>
                <span class="tt-item-meta-label">
                  Hobbies:
                </span>
                <GField id="9" value_key="text"/>
              </div>
            </div>

            <!-- Social links -->
            <div class="tt-item-meta">
              <div>
                <span class="tt-item-meta-label">
                  Links:
                </span>
              </div>
              <ul class="tt-icon-list">
                <Loop list="{GField id=7}" >
                  <Loop map="{Field}">
                    <li><i class="icon-{Field value}"></i><Field text /></li>
                  </Loop>
                </Loop>
              </ul>
            </div>

            <!-- Job types links -->
            <div class="tt-item-meta">
              <div>
                <span class="tt-item-meta-label">
                  Jobs:
                </span>
              </div>
              <ul class="tt-icon-list">
                <Loop list="{GField id=8}" >
                  <Loop map="{Field}">
                    <li><Field text /></li>
                  </Loop>
                </Loop>
              </ul>
            </div>
          </div> <!-- / .tt-item-text -->
        </div>
      </li>
    </Loop>
  </ul>

  <If check="{Get loop=previous_total}" more_than value=9>
    <PaginateButtons />
  </If>
  <Else />
  No listings yet. Add one with the form!
</If>


<Markdown>
  **Markup**: GField tag:
  ```html

  <If loop type=gravity_form_entry form_id=59>

    <ul class="tt-loop" cols=3 id="profile-listing">

      <Loop type=gravity_form_entry form_id=59 orderby=date_created order=desc paged=9>

        <!-- Main profile card -->
        <li class="tt-item tt-item-card">
          <div class="tt-item-wrapper tt-item-link">
            <div class="tt-item-text">

              <!-- Name -->
              <div class="tt-item-title">
                <h2><GField  id="1"  value_key="text"/> <GField  id="2" value_key="text"/></h2>
              </div>

              <!-- Company -->
              <div class="tt-item-meta">
                <div class="tt-item-subtitle">
                <span class="tt-item-meta-label">
                  Company:
                </span>
                  <GField  id="5" value_key="text"/>
                </div>
              </div>

              <!-- Sector -->
              <div class="tt-item-meta">
                <div>
                <span class="tt-item-meta-label">
                  Sector:
                </span>
                  <GField  id="6"  value_key="text"/>
                </div>
              </div>

              <!-- Social links -->
              <div class="tt-item-meta">
                <div>
                <span class="tt-item-meta-label">
                  Links:
                </span>
                </div>
                <ul class="tt-icon-list">
                  <Loop list="{GField id=7}">
                    <Loop map="{Field}">
                      <li><i class="icon-{Field value}"></i><Field text /></li>
                    </Loop>
                  </Loop>
                </ul>
              </div>
            </div> <!-- / .tt-item-text -->
          </div>
        </li>
      </Loop>
    </ul>

    <If check="{Get loop=previous_total}" more_than value=9>
      <PaginateButtons />
    </If>
    <Else />
    No listings yet. Add one with the form!
  </If>

  ```
  ********************************************************************
  ********************************************************************
</Markdown>


