<h1>GravityForm Entries filters:</h1>

<h4>Entries start/end date </h4>
<Loop type=gravity_form_entry form_id = "[4,40]" start_date="May 10 2020" end_date="May 3 2021"> <!-- live 40 -->
  <div class="examples-container">

    <p>
    <h5>Entry ID:<Field id /></h5>
    - Date created: <Field date_created /><br/>
    - Date updated: <Field date_updated /><br/>
    - Is starred: <Field is_starred /><br/>
    - Is read: <Field is_read /><br/>
    - Created by User id: <Field created_by /><br/>
    </p>
    <p>
    <h5>-Fields, simple table view:</h5>
    <Field grid />
    </p>
  </div>
</Loop>

<Markdown>
  **Markup**: 'start_date' 'end_date':
  ```html
  <h4>Entries start/end date </h4>
  <Loop type=gravity_form_entry form_id = '40' start_date="May 10 2020" end_date="October 2020">
    <div class="examples-container">

      <p>
      <h5>Entry ID:<Field id /></h5>
      - Date created: <Field date_created /><br/>
      - Date updated: <Field date_updated /><br/>
      - Is starred: <Field is_starred /><br/>
      - Is read: <Field is_read /><br/>
      - Created by User id: <Field created_by /><br/>
      </p>
      <p>
      <h5>-Fields, simple table view:</h5>
      <Field grid />
      </p>
    </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<h4>Entries created by user id </h4>
<Loop type=gravity_form_entry form_id = '[4,40]' user="2">
  <div class="examples-container">

    <p>
    <h5>Entry ID:<Field id /></h5>
    - Date created: <Field date_created /><br/>
    - Date updated: <Field date_updated /><br/>
    - Is starred: <Field is_starred /><br/>
    - Is read: <Field is_read /><br/>
    - Created by User id: <Field created_by /><br/>
    </p>
    <p>
    <h5>-Fields, simple table view:</h5>
    <Field grid />
    </p>
  </div>
</Loop>

<Markdown>
  **Markup**: all entries:
  ```html
  <h4>Entries created by user id </h4>
  <Loop type=gravity_form_entry form_id = '[4,40]' user="2">
    <div class="examples-container">

      <p>
      <h5>Entry ID:<Field id /></h5>
      - Date created: <Field date_created /><br/>
      - Date updated: <Field date_updated /><br/>
      - Is starred: <Field is_starred /><br/>
      - Is read: <Field is_read /><br/>
      - Created by User id: <Field created_by /><br/>
      </p>
      <p>
      <h5>-Fields, simple table view:</h5>
      <Field grid />
      </p>
    </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>


<h4>Entries order 'desc', orderby 'date_created' </h4>
<Loop type=gravity_form_entry form_id = '[4,40]' order="desc" orderby="date_created">
  <div class="examples-container">

    <p>
    <h5>Entry ID:<Field id /></h5>
    - Date created: <Field date_created /><br/>
    - Date updated: <Field date_updated /><br/>
    - Is starred: <Field is_starred /><br/>
    - Is read: <Field is_read /><br/>
    - Created by User id: <Field created_by /><br/>
    </p>
    <p>
    <h5>-Fields, simple table view:</h5>
    <Field grid />
    </p>
  </div>
</Loop>

<Markdown>
  **Markup**: order 'desc', orderby 'date_created':
  ```html
  <h4>Entries order 'desc', orderby 'date_created' </h4>
  <Loop type=gravity_form_entry form_id = '[4,40]' order="desc" orderby="date_created">
    <div class="examples-container">

      <p>
      <h5>Entry ID:<Field id /></h5>
      - Date created: <Field date_created /><br/>
      - Date updated: <Field date_updated /><br/>
      - Is starred: <Field is_starred /><br/>
      - Is read: <Field is_read /><br/>
      - Created by User id: <Field created_by /><br/>
      </p>
      <p>
      <h5>-Fields, simple table view:</h5>
      <Field grid />
      </p>
    </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<h3>Entry is starred </h3>
<Loop type=gravity_form_entry form_id = '[4,40]' is_starred="1">
  <div class="examples-container">

    <p>
    <h5>Entry ID:<Field id /></h5>
    - Date created: <Field date_created /><br/>
    - Date updated: <Field date_updated /><br/>
    - Is starred: <Field is_starred /><br/>
    - Is read: <Field is_read /><br/>
    - Created by User id: <Field created_by /><br/>
    </p>
    <p>
    <h5>-Fields, simple table view:</h5>
    <Field grid />
    </p>
  </div>
</Loop>

<Markdown>
  **Markup**: 'is_starred':
  ```html
  <h3>Entry is starred </h3>
  <Loop type=gravity_form_entry form_id = '[4,40]' is_starred="1">
    <div class="examples-container">

      <p>
      <h5>Entry ID:<Field id /></h5>
      - Date created: <Field date_created /><br/>
      - Date updated: <Field date_updated /><br/>
      - Is starred: <Field is_starred /><br/>
      - Is read: <Field is_read /><br/>
      - Created by User id: <Field created_by /><br/>
      </p>
      <p>
      <h5>-Fields, simple table view:</h5>
      <Field grid />
      </p>
    </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<h3>Entry  offset and page_size</h3>
<Loop type=gravity_form_entry form_id = '[4,40]'  offset="1" page_size ="4">
  <div class="examples-container">

    <p>
    <h5>Entry ID:<Field id /></h5>
    - Date created: <Field date_created /><br/>
    - Date updated: <Field date_updated /><br/>
    - Is starred: <Field is_starred /><br/>
    - Is read: <Field is_read /><br/>
    - Created by User id: <Field created_by /><br/>
    </p>
  </div>
</Loop>

<Markdown>
  **Markup**: 'offset', 'page_size':
  ```html
  <h3>Entry  offset and page_size</h3>
  <Loop type=gravity_form_entry form_id = '[4,40]' offset="1" page_size ="4">
    <div class="examples-container">

      <p>
      <h5>Entry ID:<Field id /></h5>
      - Date created: <Field date_created /><br/>
      - Date updated: <Field date_updated /><br/>
      - Is starred: <Field is_starred /><br/>
      - Is read: <Field is_read /><br/>
      - Created by User id: <Field created_by /><br/>
      </p>

    </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>


