<h1>Entry Results - Survey Likert Single Row Form </h1>

<!-- local 17; live 52 -->
<Set name=form_id>
  52
</Set>

<Markdown>
  **Markup**: Line Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="line" fill="false" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <GFChartData form_id="52" field_id="[1,2,3]" source="survey" entry_id="" user_id =""/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea    [95,94] ; -->
  <Chart type="line" fill="false" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <!-- local 17; live 52 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="survey" entry_id="" user_id =""/>
  </Chart>

</p>


<Markdown>
  **Markup**: Bar Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="bar" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <GFChartData form_id="52" field_id="[1,2,3]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="bar" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <!-- local 17; live 52 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="survey"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Radar Chart
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="radar" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <GFChartData form_id="52" field_id="[1,2,3]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="radar" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <!-- local 17; live 52 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="survey"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Doughnut Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="doughnut" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <GFChartData form_id="52" field_id="[1]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="doughnut" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <!-- local 17; live 52 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1]" source="survey"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Pie Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="pie" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <GFChartData form_id="52" field_id="[2]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="pie" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <!-- local 17; live 52 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[2]" source="survey"/>
  </Chart>

</p>


<Markdown>
  **Markup**: Polar Area Chart - single dataset(entry field)
  ```html
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>
  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="polarArea" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <GFChartData form_id="52" field_id="[3]" source="survey"/>
  </Chart>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>

<p>
  <List name=background_color>
    <Item>rgba(255, 205, 86, 0.5)</Item>
    <Item>rgba(75, 192, 192, 0.5)</Item>
    <Item>rgba(153, 102, 255, 0.5)</Item>
  </List>

  <!-- line, bar, radar, doughnut, pie, polarArea -->
  <Chart type="polarArea" background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
    <!-- local 17; live 52 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[3]" source="survey"/>
  </Chart>

</p>







