<?php

$logic = tangible_logic();
$html = tangible_template();

$logic_rules_ld = $logic->get_rules_by_category('gravity_form_entry');

$logic_rules =$logic_rules_ld;

$logic_rule_keys = ['created_by_user','is_starred','is_read'];

$html->set_list('logic_fields', array_map(function($key) use ($logic_rules) {
  return $logic_rules[ $key ][0]; // Fields can have more than one config
}, $logic_rule_keys));

//tgbl()->see( $logic_rules );
//tgbl()->see( $html->get_list('logic_fields') );

?>
<Markdown>

# Entry logic

## Some Usage Examples

```html

  <If created_by_user is 100 >
  <If is_starred is_not true >
  <If is_read is true >

  ...

```

## Rules

Here are the registered conditional rules.

<Load from=child_theme file="common/conditional-rules.html" />

</Markdown>
