<Markdown>
# EXAMPLES - DATA VISUALIZATION Pages

These pages demonstrate Entry Results Data Visualization for GravityForms [Survey](https://www.gravityforms.com/add-ons/survey/), [Quiz](https://www.gravityforms.com/add-ons/quiz/) and [Polls](https://www.gravityforms.com/add-ons/polls/) Add-Ons.

## Chart

The [Chart.js](https://www.chartjs.org) library is used for Entry Results Data Visualization.

The <code>Chart</code> tag provides Chart rendering. For more information please see [Chart module documentation](https://loop.tangible.one/modules/chart).

<br/>

## GFChartData

The <code>GFChartData</code> tag provides different GravityForm results data for the Charts.
<br/>
<br/>
**Example:**

```html
<List name=background_color>
  <Item>rgba(255, 205, 86, 0.5)</Item>
  <Item>rgba(75, 192, 192, 0.5)</Item>
  <Item>rgba(153, 102, 255, 0.5)</Item>
</List>

<!-- line, bar, radar, doughnut, pie, polarArea -->
<Chart type=line fill=true background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
  <GFChartData form_id="52" field_id="[1,2,3]" source="survey"/>
</Chart>
```

<br/>
<br/>
**Result:**

</Markdown>

<!-- local 17; live 52 -->
<Set name=form_id>
  52
</Set>

<List name=background_color>
  <Item>rgba(255, 205, 86, 0.5)</Item>
  <Item>rgba(75, 192, 192, 0.5)</Item>
  <Item>rgba(153, 102, 255, 0.5)</Item>
</List>
<!-- line, bar, radar, doughnut, pie, polarArea -->
<Chart type=line fill=true background_color="{Get list=background_color}" border_color="[#bf2977, #537bc4, hsla(9, 100%, 50%, 0.81)]">
  <!-- local 17; live 52 -->
    <GFChartData form_id="{Get name=form_id}" field_id="[1,2,3]" source="survey"/>
</Chart>
<br/>
<br/>
<Markdown>

**GFChartData Attributes**

- <code>form_id</code> - (mandatory) A Form ID which Data should be be used in Chart
- <code>field_id</code> - (mandatory) A Field IDs which Results should be rendered in the Chart. string or array
- <code>source</code> - (mandatory) Data source type - 'survey', 'quiz' or 'poll'
- <code>entry_id</code> - (optional) Entry id(s) for which we display data - string/array
- <code>user_id</code> - (optional) User ID(s) whose entries we want to display - string/array or "current"
- <code>multi_labels</code> - (optional) Whether to show multiple labels on axis - might be handy when fields which render in chart do not have identical choices - default:false. See this [Example](/example/visualization/results/survey-rating)
- <code>score_frequencies</code> - (optional) When "true" displays Quiz Score Frequencies - applicable only to Quiz Add-On
- <code>grade_frequencies</code> - (optional) When "true" displays Quiz Grade Frequencies - applicable only to Quiz Add-On

</Markdown>
