<Markdown>

# Overview

**Tangible Loops for Gravity Forms** provides content loops and conditions for [Gravity Forms](https://www.gravityforms.com/).

It integrates with the  <a href="{Get loops_and_logic_url}">Loops & Logic plugin</a>.

## Content types

Here are the integrated content types.

- [Entry loop](/gform-loops/entry/loop)
- [Entry fields loop](/gform-loops/entry-fields/loop)

</Markdown>

