<h1>GravityForm Entries:</h1>
<Loop type=gravity_form_entry form_id = '12' >
<div class="examples-container">
  <p>

  <h3>Form name: <Field form_name /></h3>
  <h4>Entry ID:<Field id /></h4>
  </p>



  <p>
  <h5>-Fields data:</h5>
    <!--Loop type=gravity_form_entry_fields entry_id="{Field id}" ></Loop      form_id = '1' form_id = '[1,6]' form_id = '11'                -->
    <Loop field=fields >
      <If field="type" is_not value="section">
      <If field="type" is_not value="survey" >
        <strong>-Field ID: <Field id /></strong><br />
        -Field type: <strong><Field type /></strong><br />
        -Field input type: <strong><Field input_type /></strong><br />
        -Field Label:

        <strong><Field label /></strong><br />
      </If>
      </If>


      <If field="type" is value="section" >
        <hr/>
      </If>

      <If field="type" is value="product">
        -Field Value:<br />
        <Loop field=value >
          *Product name: <Field name /><br />
          *Product price: <Field price /><br /><br />
        </Loop>

        <Else if field="type" is value="shipping" />
          <Loop field=value >
            *Shipping name: <Field name /><br />
            *Shipping price: <Field price /><br /><br />
          </Loop>

        <Else if field="type" is value="consent" />
          <Loop field=value >
            *Text: <Field text /><br />
            *Description: <Field description /><br /><br />
          </Loop>

        <Else if field="type" is value="fileupload" />
          <Loop field=value >
            *File path: <Field /><br />
          </Loop>
        <br />

        <Else if field="type" is value="name" />
        -Field Value:<br />
        <Loop field=value >
          *Prefix: <Field prefix /><br />
          *First name: <Field first /><br />
          *Middle: <Field middle /><br />
          *Last name: <Field last /><br />
          *Suffix: <Field suffix /><br />
        </Loop>
        <br />

        <Else if field="type" is value="address" />
        -Field Value:<br />
        <Loop field=value >
          *Street: <Field street /><br />
          *Street2: <Field street2 /><br />
          *City: <Field city /><br />
          *State: <Field state /><br />
          *Zip: <Field zip /><br />
          *Country: <Field country /><br />
        </Loop>
        <br />

        <Else if field="type" is value="post_image" />
        -Field Value:<br />
        <Loop field=value >
          *Url: <Field url /><br />
          *Title: <Field title /><br />
          *Caption: <Field caption /><br />
          *Description: <Field description /><br />
        </Loop>
        <br />

        <Else if field="type" is value="post_category" />
        -Field Value:<br />
        <Loop field=value >
          *Name: <Field name /><br />
          *Id: <Field id /><br />
        </Loop>
        <br />

        <Else if field="type" is value="post_tags" />
        -Field Value:<br />
        <Loop field=value >
          *Name: <Field name /><br />
        </Loop>
        <br />

        <Else if field="type" is value="option" />
        -Field Value:<br />
        <Loop field=value >
          * Option name: <Field  option_name /><br />
          * Option price: <Field  price /><br/>
        </Loop>
        <br />


        <Else if field="type" is value="multiselect" />
        -Field Value:<br />
        <Loop field=value >
            *<Field /><br/>
        </Loop>
        <br />

        <Else if field="type" is value="checkbox" />
        -Field Value:<br />
        <Loop field=value >
            *<Field /><br/>
        </Loop>
        <br />

        <!-- SURVEY ADD ON FIELDS -->
        <Else if field="type" is value="survey" />
        <strong>-Field ID: <Field id /></strong><br />
        -Field type: <strong><Field type /></strong><br />
        -Field input type: <strong><Field input_type /></strong><br />
        -Field Label: <strong><Field label /></strong><br />
        -Field Value:<br />

            <If field="input_type" is value="likert" >
            <Loop field=value input_type="likert">
              -<Get loop="count" />:<br />
              *Row: <Field row /><br />
              *Choice: <Field choice /><br />
              *Score: <Field score /><br />
            </Loop>
            <br />

              *HTML View: <br />
              <Field survey_likert_html />
              <br /><br />

            <Else if field="input_type" is value="rank" />
            <Loop field=value input_type="rank">
              -<Get loop="count" />:<br />
              <Field /><br />
            </Loop>

            <br />
              *HTML View: <br />
              <Field survey_rank_html />
              <br /><br />

            <Else if field="input_type" is value="rating" />
              <Field value/><br />
              <br />

              *HTML View: <br />
              <Field survey_rating_html />
              <br /><br />

              <Else if field="input_type" is value="radio" />
              <Field value/><br />
              <br />

              *HTML View: <br />
              <Field survey_radio_html />
              <br /><br />


              <Else if field="input_type" is value="select" />
              <Field value/><br />
              <br />

              *HTML View: <br />
              <Field survey_select_html />
              <br /><br />

              <Else if field="input_type" is value="checkbox" />
              <Loop field=value >
                <Field /><br/>
              </Loop>
              <br /><br />

              *HTML View: <br />
              <Field survey_checkbox_html />
              <br /><br />

              <Else if field="input_type" is value="text" />
              -Field Value: <Field value />
              <br /><br />

              *HTML View: <br />
              <Field survey_text_html />
              <br /><br />

              <Else if field="input_type" is value="textarea" />
              -Field Value: <Field value />
              <br /><br />

              *HTML View: <br />
              <Field survey_textarea_html />
              <br /><br />


            </If>


        <Else />
        <If field="type" is_not value="section" >
          -Field Value: <Field value /><br /><br />
        </If>
      </If>

    </Loop>
  </p>
  <br />
  <!--p>
  <h5>-Grid(simple table view):</h5>
  <Field grid />
  </p-->
  <br /><br />
</div>
</Loop>

<Markdown>
  **Markup**: all entries:
  ```html
  <Loop field=fields >
    <If field="type" is_not value="section" >
      <strong>-Field ID: <Field id /></strong><br />
      -Field type: <strong><Field type /></strong><br />
      -Field Label:
    </If>
    <strong><Field label /></strong><br />
    <If field="type" is value="section" >
      <hr/>
    </If>

    <If field="type" is value="product">
      -Field Value:<br />
      <Loop field=value >
        *Product name: <Field name /><br />
        *Product price: <Field price /><br /><br />
      </Loop>

      <Else if field="type" is value="shipping" />
      <Loop field=value >
        *Shipping name: <Field name /><br />
        *Shipping price: <Field price /><br /><br />
      </Loop>

      <Else if field="type" is value="consent" />
      <Loop field=value >
        *Text: <Field text /><br />
        *Description: <Field description /><br /><br />
      </Loop>

      <Else if field="type" is value="fileupload" />
      <Loop field=value >
        *File path: <Field /><br />
      </Loop>
      <br />

      <Else if field="type" is value="name" />
      -Field Value:<br />
      <Loop field=value >
        *Prefix: <Field prefix /><br />
        *First name: <Field first /><br />
        *Middle: <Field middle /><br />
        *Last name: <Field last /><br />
        *Suffix: <Field suffix /><br />
      </Loop>
      <br />

      <Else if field="type" is value="address" />
      -Field Value:<br />
      <Loop field=value >
        *Street: <Field street /><br />
        *Street2: <Field street2 /><br />
        *City: <Field city /><br />
        *State: <Field state /><br />
        *Zip: <Field zip /><br />
        *Country: <Field country /><br />
      </Loop>
      <br />

      <Else if field="type" is value="post_image" />
      -Field Value:<br />
      <Loop field=value >
        *Url: <Field url /><br />
        *Title: <Field title /><br />
        *Caption: <Field caption /><br />
        *Description: <Field description /><br />
      </Loop>
      <br />

      <Else if field="type" is value="post_category" />
      -Field Value:<br />
      <Loop field=value >
        *Name: <Field name /><br />
        *Id: <Field id /><br />
      </Loop>
      <br />

      <Else if field="type" is value="post_tags" />
      -Field Value:<br />
      <Loop field=value >
        *Name: <Field name /><br />
      </Loop>
      <br />

      <Else if field="type" is value="option" />
      -Field Value:<br />
      <Loop field=value >
        * Option name: <Field  option_name /><br />
        * Option price: <Field  price /><br/>
      </Loop>
      <br />


      <Else if field="type" is value="multiselect" />
      -Field Value:<br />
      <Loop field=value >
        *<Field /><br/>
      </Loop>
      <br />

      <Else if field="type" is value="checkbox" />
      -Field Value:<br />
      <Loop field=value >
        *<Field /><br/>
      </Loop>
      <br />

      <Else />
      <If field="type" is_not value="section" >
        -Field Value: <Field value /><br /><br />
      </If>
    </If>

  </Loop>
  </p>
  <br />
  <!--p>
  <h5>-Grid(simple table view):</h5>
  <Field grid />
  </p-->
  <br /><br />
  </div>
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>


